* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  font-weight: 300;
  font-size: 1.1rem;
}

:root {
  --main-padding-origin: 0 14%;
}

@media only screen and (max-width: 1200px) {
  :root {
    --main-padding-origin: 0 5%;
  }
}

@media only screen and (max-width: 1500px) {
  :root {
    --main-padding-origin: 0 5%;
  }
}